@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

.bgHero{
  background-image: url('/bg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fontSize{
  font-size: 150px;
}

.aboutImg{
  background-image: url('/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bgcolor{
  background-color: rgb(235, 176, 14);
}


.advantagesImg{
  background-image: url('/bg3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}